<!DOCTYPE html>

<html>

<head>
    <title>About</title>
            <link rel="icon" href="/img/cloud.jpeg">

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
     <div class=" main-content" >
    {{>header}}
    <p>This site uses data from mapbox and darksky to fetch weather report</p>
    <img class="potrait" src="/img/me.jpg">
    </div>
    {{>footer}}
</body>

</html>